<!DOCTYPE <html>
<html>
<head>
	<title>{% block title%} {% endblock %}</title>
    <link rel="icon" type="image/ico" href="/media/favicon/favicon.ico"/>
  <link rel="shortcut icon" href="/media/favicon/favicon.ico">
	<script type="text/javascript" src="/media/js/jquery.js"></script>
	<script type="text/javascript" src="/media/js/bootstrap.js"></script>
	<link rel="stylesheet/less" href="/media/less/style.less">
	<script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default  navbar-principal" role="navigation">
  		<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<a class="navbar-brand" href="{%block brand-ref%}{% url 'vista_welcome' %}{%endblock%}">{%block brand-name%}SSM{%endblock%}</a>
    		</div>       
        <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse float-right" id="bs-example-navbar-collapse-2">
           <!-- Mostrar imagen -->
            <div class="navbar-header  nav-img">
              
                {% if user.get_profile.photo_url %}
                <img class="navbar-brand" src="{{user.get_profile.photo_url}}">
                {% else %}
                <img class="navbar-brand" src="/files/serve/{{user.get_profile.photo_user}}">
                {% endif %}
                <p class="navbar-brand">{{user.get_username}}</p>
                    
            </div> <!-- Fin Mostrar imagen -->
      			<ul class="nav navbar-nav nav-principal">
        			<li><a href="{% url 'vista_newProject' %}" class="glyphicon glyphicon-plus"></a></li>
        			<li ><a id="inbox" href="/mensajes/1" class="glyphicon glyphicon-inbox"><span class="badge">{{user.get_profile.mensajes_user_noleidos|length}}</span></a></li>
        			<li><a href="{% url 'vista_settings' %}" class ="glyphicon glyphicon-cog"></a></li>
              <li><a href="{% url 'vista_logout' %}" class="glyphicon glyphicon-log-out"></a></li>     
      			</ul>
    		</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>
  
	{%block content%}
	{%endblock%}

</body>
</html>