{% extends 'template_presentacion.html' %}
{% block title %} SSM: Acerca de... {% endblock %}
{%block content%}
<!-- Imagen de inicio -->
	<div class="about-background">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><strong>ACERCA DE SOFT SYSTEM MANAGER</strong></h1>
			</div>
		</div>
	</div><!-- Fin Imagen de inicio -->
	<!-- Contenedor de imagenes y texto -->
	<div class="container about-rows">
		<!-- Contenedor 1 -->
		<div class="row">
        	<div class="col-md-3">
        		<img src="/media/img/about_html/descripciones/img1.jpg" alt="Imagen 1">
        	</div>
        	<div class="col-md-9 text-left">
        		<h1>Titulo 1</h1>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libidinosarum pariendarum probarem amici antiqua quidem animumque praeceptrice p. Inflammati num torquatis negant statua, minima putanda gratia vero multa videre motus dissentio gratia imperii, summam geometrica. Inesse inutile summum vias operis ius spatio urbes, effugiendorum ipso detracta artibus statuat facillime munere, invitat scribimus hic legant umquam honestatis manu sapientes suscepi animum. Proposita loquerer constituam comprobavit statuam praebeat mentitum confirmatur tibique amori, invidiae assumenda tam nimis retinere contemnere caeco maximeque copulatas geometriaque, alterum.</p>
        	</div>  
		</div><!-- Fin Contenedor 1 -->
		<!-- Contenedor 2 -->
		<div class="row">
			<div class="col-md-9 text-left">
        		<h1>Titulo 1</h1>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libidinosarum pariendarum probarem amici antiqua quidem animumque praeceptrice p. Inflammati num torquatis negant statua, minima putanda gratia vero multa videre motus dissentio gratia imperii, summam geometrica. Inesse inutile summum vias operis ius spatio urbes, effugiendorum ipso detracta artibus statuat facillime munere, invitat scribimus hic legant umquam honestatis manu sapientes suscepi animum. Proposita loquerer constituam comprobavit statuam praebeat mentitum confirmatur tibique amori, invidiae assumenda tam nimis retinere contemnere caeco maximeque copulatas geometriaque, alterum.</p>
        	</div>  
        	<div class="col-md-3 text-right">
        		<img src="/media/img/about_html/descripciones/img1.jpg" alt="Imagen 1">
        	</div>
		</div><!-- Fin Contenedor 2 -->
		<!-- Contenedor 3 -->
		<div class="row">
        	<div class="col-md-3">
        		<img src="/media/img/about_html/descripciones/img1.jpg" alt="Imagen 1">
        	</div>
        	<div class="col-md-9 text-left">
        		<h1>Titulo 1</h1>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libidinosarum pariendarum probarem amici antiqua quidem animumque praeceptrice p. Inflammati num torquatis negant statua, minima putanda gratia vero multa videre motus dissentio gratia imperii, summam geometrica. Inesse inutile summum vias operis ius spatio urbes, effugiendorum ipso detracta artibus statuat facillime munere, invitat scribimus hic legant umquam honestatis manu sapientes suscepi animum. Proposita loquerer constituam comprobavit statuam praebeat mentitum confirmatur tibique amori, invidiae assumenda tam nimis retinere contemnere caeco maximeque copulatas geometriaque, alterum.</p>
        	</div>  
		</div><!-- Fin Contenedor 3 -->
	</div><!-- Fin Contenedor de imagenes y texto -->
{%endblock%}