{% extends 'template_presentacion.html' %}
{% block title %} SSM: Metodología {% endblock %}
{%block content%}
<!-- Imagen de inicio -->
	<div class="method-background">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>METODOLOGÍA DE SISTEMAS BLANDOS</h1>
			</div>
		</div>
	</div><!-- Fin Imagen de inicio -->
	<!-- Texto sobre la metodologia -->
	<div class="content-1 text-center">
		<h1>¿Qué es la Metodología de Sistemas Blandos?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Admissum minus patientiamque diligamus libidinem laus scribendi concertationesque, potuimus, chorusque opus graece ab collegi consequamur iniuria afferre putanda, eos emancipaverat sint possim firme opes primus tempus, privatio simul levitatibus sedatio, utrumque difficilius ostendis existimavit. Elegans, intellegunt alia sapienter profecta utilitas, e reliquaque desistemus optimum erga ceterorum repellat impensa quaerendi aegritudinem. Gloriatur gaudeat dixerit accusator hominum miraretur eoque officiis praetermittatur labefactant, mediocris conspiratione maius negent concordia turbent dicebas depulsa praetermittatur, placeat didicerimus tradere.</p>
	</div><!-- Fin Texto sobre la metodologia -->
	<!-- Contenedor de descripciones -->
	<div class="container states-rows">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 1">
				<h3>Estado 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
			
			<div class="col-md-4 col-sm-offset-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 3">
				<h3>Estado 7</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 1">
				<h3>Estado 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 3">
			</div>
			<div class="col-md-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 3">
				<h3>Estado 6</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 1">
				<h3>Estado 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
			
			<div class="col-md-4 col-sm-offset-4 text-center">
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 3">
				<h3>Estado 5</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rem quod minus. Temporibus quae, architecto voluptate ea aperiam facere eum ut unde dignissimos consequuntur, perspiciatis dicta, libero recusandae doloremque!</p>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12 text-center">
				<h3>Estado 4</h3>
				<img src="/media/img/method_html/descripciones/img1.jpg" alt="Imagen 3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostros. Careret notionem solet dicas, dubitemus fama deterret industria ordinem politus reprehensa negent graviter dominos, iusteque loqui laboramus conciliant pertinax mediocrium, bestiae conformavit illam discordia me divina acutus probabis. Iracundia diu quippe minuit firme conquisitis adiit sentiant celeritas. Quia reprehenderit honoris fuisset ostendit negarent reliquisti, conscientia sine queo loco, nudus accuratius ergo perspexit mea aptissimum. Triari arbitrium suas fruuntur dicitis vidisse, ponti ii impensa liberatione conetur requietis fructu brute potius, pluribus eodem.</p>
			</div>
		</div>
	</div><!-- Fin Contenedor de descripciones -->
{%endblock%}