{% extends 'template_presentacion.html' %}
{% load bootstrap_tags %}
{% block title %} SSM: Recuperar Contraseña {% endblock %}
{%block content%}
<div class="container-logo text-center ">
	<img src="/media/img/logos/LogoFinal.png">
	<h1><strong>Recuperar Contraseña</strong></h1><br>
	<p class="text-justify">Para recuperar la contraseña introduce la dirección de correo electrónico que utilizaste para registrarte en Soft System Manager. Recibirás un correo electrónico con tu nueva contraseña. Te recomendamos que, una vez ingreses a tu sesión de usuario la cambies de forma inmediata por una que puedas recordar sin problemas.</p>
</div> <!-- Fin contenedor Logo -->
<!-- Inicio Formulario Login -->
<div class="col-md-4 col-sm-offset-4 text-center container-login">
	{%if status %}
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>{{status}}</strong> 
	</div>
	{%endif%}
	<form action="." method="POST" class="text-justify">
		{%csrf_token%}
		{{ form|as_bootstrap}}

		<button type="submit" class="btn btn-primary login-btn">Recuperar Contraseña</button>
	</form>
</div><!-- Fin Formulario Login -->
{%endblock%}