<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.ssmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SoftSystem Manager</name>
    <description>A mobile app to store your softsystem projects.</description>
    <author email="mariolopezlandes@gmail.cl" href="http://mariowise.wordpress.cl">Mario López Landes</author>
    <content src="index.html" />
    <access origin="*" />

    <!-- Barra superior -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#4C95D1" />

    <!-- [cordova plugin add org.apache.cordova.camera] -->
    <feature name="Camera">
	    <param name="ios-package" value="CDVCamera" />
	</feature>
	<!--
	(in app/res/xml/config.xml)
	<feature name="Camera">
	    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
	(in app/AndroidManifest)
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	-->

	<!-- [cordova plugin add org.apache.cordova.network-information] -->
	<feature name="NetworkStatus">
		<param name="ios-package" value="CDVConnection" />
	</feature>
	<!--
	(in app/res/xml/config.xml)
	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.NetworkManager" />
	</feature>

	(in app/AndroidManifest.xml)
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	-->

	<!-- [cordova plugin add org.apache.cordova.file-transfer] -->
	<feature name="File">
		<param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
		<param name="ios-package" value="CDVFileTransfer" />
	</feature>
	<!--
	(after adding just the file plugin)
	(in app/res/xml/config.xml)
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.FileUtils" />
	</feature>

	(in app/AndroidManifest.xml)
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	(after adding just the file-transfer plugin)
	(in app/res/xml/config.xml)
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.FileUtils" />
	</feature>
	<feature name="FileTransfer">
		<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>

	(in app/AndroidManifest.xml)
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />	
	-->

	

</widget>


