	
<div class="container">

	<br>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			
			<div class="panel panel-default text-center">
				<div class="panel-heading">Inicio de sesión</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="">Nombre de usuario</label>
						<input ng-model="user.username" type="text" class="form-control text-center" placeholder="username">
						<br>
						<label for="">Contraseña</label>
						<input ng-model="user.password" type="password" class="form-control text-center" placeholder="••••">
						<br>
						<input ng-click="login()" type="submit" value="Ingresar" class="btn btn-primary wide">
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
