{%extends 'estado_tres/estado_tres_general.html'%}
{%load bootstrap_tags%}
{% block state-content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Resumen de {{definicionRaiz.name_dr}}</strong></h3>
	</div>
	<div class="panel-body">
		<div class="media text-justify">
			{% if definicionRaiz.description_dr %}
			<p>{{definicionRaiz.description_dr}}</p><br>
			{%else%}
			<p><strong>No existe Resumen</strong></p>
			{%endif%}
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>CATWOE de {{definicionRaiz.name_dr}}</strong></h3>
	</div>
	<div class="panel-body formCatwoe">
		<div class="media text-justify">
			<p><strong>Clientes:</strong></p><br>
			<p>{{definicionRaiz.clientes_dr}}</p><br>
			<p><strong>Actores:</strong></p><br>
			<p>{{definicionRaiz.actores_dr}}</p><br>
			<div class="row">
				<div class="col-md-5 tcatwoe">
					<p><strong>Transformación (Entrada):</strong></p><br>	
					<p>{{definicionRaiz.trans_input_dr}}</p><br>
				</div>
				<div class="col-md-2 tcatwoeIMG">
					<img src="/media/img/estado_tres_html/flecha2.png">
				</div>
				<div class="col-md-5 tcatwoe">
					<p><strong>Transformación (Salida):</strong></p><br>	
					<p>{{definicionRaiz.trans_output_dr}}</p><br>
				</div>
			</div>
			<p><strong>Weltanschauung:</strong></p><br>
			<p>{{definicionRaiz.cosmo_dr}}</p><br>
			<p><strong>Propietario:</strong></p><br>
			<p>{{definicionRaiz.propietario_dr}}</p><br>
			<p><strong>Entorno:</strong></p><br>
			<p>{{definicionRaiz.entorno_dr}}</p><br>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Sistema de Actividad Humana</strong></h3>
	</div>
	<div class="panel-body">
		<div class="media text-justify">
			<p><strong>Nombre del Sistema de Actividad Humano:</strong></p>
			<p>{{definicionRaizFinal.name_DR}}</p>
			<p><strong>Definición del Sistema de Actividad Humano:</strong></p>
			<p>{{definicionRaizFinal.description_DR}}</p>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Rich Picture Relacionado</strong></h3>
	</div>
	<div class="panel-body">
		<div class="media text-justify">
			{%if richPictureFinal%}
			<p>{{richPictureFinal.description_rp}}</p><br>
			<div class="botonVerRichPicture text-center">
				<a href="JavaScript:newPopup('/verRichPicture/{{proyecto.id}}/{{richPictureFinal.id}}');" ><button type="button" class="btn btn-primary"><strong>Ver Rich Picture</strong></button></a></p>
			</div>
			{%else%}
			<p><strong>No existe Rich Picture</strong></p>
			{%endif%}
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Comentarios</strong></h3>
	</div>
	<div class="panel-body">
		<div class="comentarios">
			{% if comentarios%}
			{% for c in comentarios %}
			<div class="contenedor-comentario">
				<img src="/files/serve/{{c.autor_comentary.get_profile.photo_user}}" />	
				<a href="/profile/{{proyecto.id}}/{{c.autor_comentary.id}}"><strong>{{c.autor_comentary.get_username}}</strong></a><br>
				<span class="sub-text">{{c.date_comentary}}</span>
				<div class="comentario">			
					<p >{{c.content_comentary}}</p>
				</div>
			</div>
			{% endfor %}
			{%else%}
			<h2><strong>Aun no hay comentarios</strong></h2>
			{%endif%}
		</div>
		<form id="box-comment" method="POST" action="/comentarDefinicionRaiz/{{definicionRaiz.id}}/{{proyecto.id}}/">
			{% csrf_token %}
			{{formComentary|as_bootstrap}}
			<button type="submit" class="btn btn-primary">Comentar</button>
		</form>
	</div>
</div>
{%endblock state-content%}