<header-left route="app.projects"></header-left>

<div class="container">
	
	<div class="view-title text-center"><i class="fa fa-folder-open"></i> Detalle proyecto
		<div ng-if="!project.id" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>
	<div ng-if="project.id">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Ficha del proyecto</div>
			</div>
			<div class="panel-body">
				<div class="panel-detail">
					<label>Nombre:</label>
					<div>{{project.name_ssp}}</div>

					<label>Descripción:</label>
					<div>{{project.description_ssp}}</div>

					<label>Fecha de creación:</label>
					<div>{{project.date_spp | amDateFormat:'DD/MM/YYYY (hh:mm a)'}}</div>

					<label>Administrador</label>
					<div>{{project._manager.first_name}} {{project._manager.last_name}} <{{project._manager.email}}></div>
				</div>
			</div>
		</div>

		<div class="btn-group-vertical wide" role="group">
			<div class="btn btn-default" ui-sref="app.project.stateone.show()"><i class="fa fa-chevron-right"></i>Estadio 1</div>
			<div class="btn btn-default" disabled="disabled">Estadio 2</div>
			<div class="btn btn-default" disabled="disab">Estadio 3</div>
		</div>
	</div>

</div>
