<header-left route="app.projects"></header-left>

<div class="container">
	
	<div class="view-title text-center"><i class="fa fa-folder-open"></i> Detalle proyecto
		<div ng-if="!project.id" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>
	<div ng-if="project.id">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Ficha del proyecto</div>
			</div>
			<div class="panel-body">
				<div class="panel-detail">
					<label>Nombre:</label>
					<div>{{project.name_ssp}}</div>

					<label>Descripción:</label>
					<div>{{project.description_ssp}}</div>

					<label>Fecha de creación:</label>
					<div>{{project.date_spp | amDateFormat:'DD/MM/YYYY (hh:mm a)'}}</div>

					<label>Administrador</label>
					<div>{{project._manager.first_name}} {{project._manager.last_name}}</div>
					<div class="small">{{project._manager.email}}</div>
				</div>
			</div>
		</div>

		<div class="btn-group-vertical wide" role="group">
			<div class="btn btn-default" ui-sref="app.project.stateone.show()"><i class="fa fa-chevron-right"></i>Estadio 1</div>
			<div class="btn btn-default" ui-sref="app.project.statetwo.index()"><i class="fa fa-chevron-right"></i>Estadio 2</div>
			<div class="btn btn-default" ui-sref="app.project.statethree.index()"><i class="fa fa-chevron-right"></i> Estadio 3</div>
		</div>
	</div>

	<br>
	<div class="view-title text-center"><i class="fa fa-users"></i> Colaboradores</div>
	<button class="btn btn-success wide" ng-if="current_user.id == project.manager" data-toggle="modal" data-target="#addUser"><i class="fa fa-plus"></i> Invitar</button>
	<br>
	<br>
	<div class="container">
		<div class="row row-list" ng-if="project._manager.username">
			<div class="col-xs-7">
				<i class="fa fa-user"></i> {{project._manager.username}}
			</div>
			<div class="col-xs-5 text-right small">
				Administrador
			</div>
		</div>
		<div class="row row-list" ng-repeat="contrib in project.contribs_ssp">
			<div class="col-xs-8">
				<a ui-sref="app.project.colab({ colab_username: '{{contrib}}' })" ng-if="contrib != current_user.username"><i class="fa fa-user"></i> {{contrib}}</a>
				<div ng-if="contrib == current_user.username"><i class="fa fa-user"></i> {{contrib}}</div>
			</div>
			<div class="col-xs-4 text-right">
				<a class="small" ng-if="current_user.id == project.manager || contrib == current_user.username" ng-click="rmContrib(contrib)"><i class="fa fa-times"></i> Desvincular</a>
			</div>
		</div>
		<br>
	</div>
	<button class="btn btn-default wide" data-toggle="modal" data-target="#newMessage"><i class="fa fa-envelope-o"></i> Enviar mensaje</button>	
</div>

<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clean()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Invitar usuario</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Buscar</label>
					<input ng-model="targetUser.username" type="text" placeholder="Buscar por nombre de usuario" class="form-control">
				</div>
				<div class="form-group">
					<a class="btn btn-link" ng-click="allUsers()"><i class="fa fa-refresh"></i> Actualizar</a>
					<div class="select">
						<div class="select-item" ng-repeat="user in users | filter:targetUser.username" ng-if="user.id != current_user.id && project.contribs_ssp.indexOf(user.username) == -1" ng-click="addUser(user)"><i class="fa fa-user"></i> {{user.username}}</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Modal message -->
<div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clean()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Nuevo mensaje</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Destinatarios</label>
					<selectize ng-model="message.receptores_mensaje" options="$parent.project.contribs" config="config"></selectize>
				</div>
				<div class="form-group">
					<label for="">Asunto</label>
					<input ng-model="message.asunto_mensaje" type="text" placeholder="Asunto" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Contenido</label>
					<textarea ng-model="message.contenido_mensaje" placeholder="Escribe acá tu mensaje." name="" id="" rows="8" class="form-control"></textarea>
				</div>
				<button class="btn btn-success btn-lg wide" ng-click="sendMessage()"><i class="fa fa-arrow-up"></i> Enviar mensaje</button>
			</div> 
		</div>
	</div>
</div>
