<header-left route="app.messages.index"></header-left>

<div class="container">
	
	<div class="view-title text-center">
		<i class="fa fa-envelope-o"></i> Ver mensaje
		<div ng-if="message.id == undefined" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>

	<div ng-if="message.id != undefined">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title small"><div class="small">{{message.date_mensaje | amDateFormat:'DD/MM/YYYY, h:mm a'}}</div></div>
				<div class="panel-toolbar">
					<div class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash"></i> Eliminar</div>
				</div>
			</div>
			
			<div class="panel-body">
				<label for="">Remitente</label>
				<div>{{message.remitente_mensaje}}</div>
				<br>

				<label for="">Asunto</label>
				<div>{{message.asunto_mensaje}}</div>
				<br>

				<label for="">Contenido</label>
				<div>{{message.contenido_mensaje}}</div>
				<br>
			</div>
		</div>

		<button class="btn btn-default btn-lg wide" data-toggle="modal" data-target="#reply"><i class="fa fa-reply"></i> Responder</button>
	</div>

</div>

<!-- Modal message -->
<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clean()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Mensaje de respuesta</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Destinatarios</label>
					<input type="text" class="form-control" disabled="disabled" ng-model="message.remitente_mensaje">
				</div>
				<div class="form-group">
					<label for="">Asunto</label>
					<input ng-model="reply.asunto_mensaje" type="text" placeholder="Asunto" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Contenido</label>
					<textarea ng-model="reply.contenido_mensaje" placeholder="Escribe acá tu mensaje." name="" id="" rows="8" class="form-control"></textarea>
				</div>
				<button class="btn btn-success btn-lg wide" ng-click="sendMessage()"><i class="fa fa-arrow-up"></i> Enviar mensaje</button>
			</div> 
		</div>
	</div>
</div>