
<div id="footer">
	<div class="btn-group btn-group-justified" role="group">
		<div class="btn btn-default" ui-sref="app.projects" ng-click="refresh('projects')" route="projects">
			<i class="fa fa-folder-open"></i><br>
			Proyectos
		</div>
		<div class="btn btn-default" ui-sref="app.profile.show" ng-click="refresh('profile')" route="profile">
			<i class="fa fa-user"></i><br>
			Mi perfil
		</div>
		<div class="btn btn-default" ui-sref="app.messages.index" ng-click="refresh('news')" route="news">
			<i class="fa fa-envelope-o"></i><br>
			Mensajes
		</div>
	</div>
</div>
