{% extends 'template_presentacion.html' %}
{% block title %} SSM: Acerca de... {% endblock %}
{%block content%}
<!-- Imagen de inicio -->
	<div class="about-background">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><strong>ACERCA DE SOFT SYSTEM MANAGER</strong></h1>
			</div>
		</div>
	</div><!-- Fin Imagen de inicio -->
	<!-- Contenedor de imagenes y texto -->
	<div class="container about-rows">
		<!-- Contenedor 1 -->
		<div class="row">
        	<div class="col-md-3">
        		<img src="/media/img/about_html/descripciones/img8.jpg" alt="Imagen 1" class="img-circle">
        	</div>
        	<div class="col-md-9 text-left">
        		<br>
        		<h1><strong>Motivación</strong></h1><br>
        		<p class="text-justify">La aplicación de la MSB requiere de procedimientos específicos que deben ser llevados a cabo. Además, esta metodología es por sobre todo colaborativa, donde los participantes y usuarios de la MSB deben interactuar permanentemente, por lo que es vital la generación de un entorno participativo y apto para el desarrollo de la investigación-acción. Es asi como nace <strong>Soft System Manager</strong>, como una nueva alternativa que apoye el desarrollo del proceso metodológico, abriendo las puertas para la introducción de Tecnologías de la Información y Comunicación para apoyar exclusivamente a la MSB.</p>
        	</div>  
		</div><!-- Fin Contenedor 1 -->
		<!-- Contenedor 2 -->
		<div class="row">
			<div class="col-md-9 text-left">
        		<br>
        		<h1><strong>Características</strong></h1><br>
        		<p class="text-justify"><strong>Soft System Manager</strong> hace uso de “tecnologías cloud” como Google Drive y Google Hangout, y se apoya en sus funcionalidades y características para la realización de proyectos de investigación de manera colaborativa. Esto permite la existencia de un espacio de trabajo único y compartido entre los miembros del grupo, para llevar a cabo de manera conjunta el desarrollo de la investigación-acción. Estas herramientas permiten la realización de una comunicación dentro del equipo de trabajo tanto asincrónica como sincrónica.</p>
        	</div>  
        	<div class="col-md-3 text-right">
        		<img src="/media/img/about_html/descripciones/img9.png" alt="Imagen 1" class="img-circle">
        	</div>
		</div><!-- Fin Contenedor 2 -->
		<!-- Contenedor 3 -->
		<div class="row">
        	<div class="col-md-3">
        		<img src="/media/img/about_html/descripciones/img2.jpg" alt="Imagen 1" class="img-circle">
        	</div>
        	<div class="col-md-9 text-left">
        		<br>
        		<h1><strong>Desarrollo</strong></h1><br>
        		<p class="text-justify"><strong>Soft System Manager</strong> fue desarrollado por Aldo César Navarrete Muñoz, estudiante de Ingeniería Civil Informática de la Universidad de Santiago de Chile, como proyecto para alcanzar el grado de Ingeniero Civil Informático. Para el desarrollo de la aplicación fue usado el framework Django non-rel sobre la plataforma Google App Engine para hacer uso de diferentes tecnologías aportadas por Google. La aplicación es exclusiva para aquellos proyectos o estudios de investigación-acción que hagan uso de la Metodología de Sistemas Blandos, entregando las herramientas gráficas necesarias para el desarrollo de diagramas propios de la MSB en sus tres primeras etapas.</p>
        	</div>  
		</div><!-- Fin Contenedor 3 -->
	</div><!-- Fin Contenedor de imagenes y texto -->
{%endblock%}