{% extends 'template_presentacion.html' %}
{% block title %} Bienvenido a SSM {% endblock %}
{%block content%}
	<!-- Imagen de bienvenida con texto -->
	<div class="container-welcome">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8 text-center">
				{%if user.is_authenticated%}
				<h2>Bienvenido!</h2>
				<h1>{{user.get_username}}</h1>
				{%else%}
				<h1>Regístrate!</h1>
				<h3>Colabora con tu equipo</h3>
				<a href="{% url 'vista_signup' %}"><button class="btn btn-primary sing-up btn-lg">Registrate en SSM</button></a>
				{%endif%}
				
			</div>
		</div>
		<div class="row welcome2text">
			<div class="col-md-12">
				<h1>Diseña soluciones</h1>
				<h3><strong>Sistémicamente Deseables y Culturalmente Factibles...</strong></h3>
			</div>
		</div>
	</div><!-- Fin Imagen de bienvenida con texto -->
	<!-- Contenedor de descripciones -->
	<div class="container circle-rows">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="/media/img/welcome_html/descripciones/join3.png" alt="Imagen 1" class="img-circle">
				<h2><strong>Regístrate</strong></h2>
				<p class="text-justify">Íngresa tus datos y se parte de Soft System Manager, donde podrás formar equipos de investigación y desarrollar proyectos utilizando la Metodología de Sistemas Blandos.</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="/media/img/welcome_html/descripciones/team2.png" alt="Imagen 2" class="img-circle">
				<h2><strong>Colabora en equipo</strong></h2>
				<p class="text-justify">Desarrolla una investigación junto a tu equipo, comunicate con ellos ,comparte información para el desarrollo de tu proyecto, y colabora para alcanzar un objetivo en común.</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="/media/img/welcome_html/descripciones/solucion.jpg" alt="Imagen 3" class="img-circle">
				<h2><strong>Crea soluciones</strong></h2>
				<p class="text-justify">El equipo podrá analizar cualquier situación considerada problemática, generar nuevos Sistemas de Actividad Humana y proponer diversas soluciones que mejoren la situación expresada.</p>
			</div>
		</div>
	</div><!-- Fin Contenedor de descripciones -->
{%endblock%}