{%extends 'estado_dos/estado_dos_general.html'%}
{%load bootstrap_tags%}
{% block state-content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Resumen de {{richPicture.name_rp}}</strong></h3>
	</div>
	<div class="panel-body">
		<div class="media text-justify">
			{% if richPicture.description_rp %}
			<p>{{richPicture.description_rp}}</p><br>
			{%else%}
			<p><strong>No existe Resumen</strong></p>
			{%endif%}
		</div>
		{% if RPFinal %}
		<div class="botonVerRichPicture text-center">
			<a href="JavaScript:newPopup('{{RPFinal.url_documento}}');" ><button type="button" class="btn btn-primary"><strong>Ver Rich Picture</strong></button></a></p>
		</div>
		{%endif%}
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Análisis de {{analisis.name_analisis}}</strong></h3>
	</div>
	<div class="panel-body">
		<div class="media text-justify">
			{% if analisis.description_analisis %}
			<p>{{analisis.description_analisis}}</p><br>
			{%else%}
			<p><strong>No existe Análisis</strong></p>
			{%endif%}
		</div>
		{% if analisis %}
		<div class="botonVerRichPicture text-center">
			<a href="/verAnalisis/{{proyecto.id}}/{{analisis.id}}" ><button type="button" class="btn btn-primary"><strong>Ver Análisis</strong></button></a></p>
		</div>
		{%endif%}
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Etiquetas</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			{%if etiquetasAnalisis%}  
			{% for e in etiquetasAnalisis %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-tag"></td>
					<td >{{e.name_tag}}</td>
					<td ><button data-toggle="modal" data-target="#{{e.id}}" class="btn btn-default glyphicon glyphicon-eye-open">  </button></td>
					<div class="modal fade" id="{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel">{{e.name_tag}}</h4>
								</div>
								<div class="modal-body">
									<p>{{e.description_tag}}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
								</div>
							</div>
						</div>
					</div>
				</tr>
			</tbody>
			{% endfor %}                 
			{%else%}
			<p><strong>No posee etiquetas</strong></p>
			{%endif%}
		</table>
	</div>
</div>
{%if videos%}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Videos Relacionados</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<theader>
				<tr>
					<td></td>
					<td><strong>Nombre</strong></td>
					<td><strong>Usuario</strong></td>
					<td><strong>Fecha</strong></td>
				</tr> 
			</theader>  
			{% for v in videos %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-facetime-video"></td>
					<td>{{v.name_media}}</td>
					<td>{{v.uploaded_by}}</td>
					<td>{{v.date_media}}</td>
					<td><a href="/verMedia/{{proyecto.id}}/{{v.id}}" class="glyphicon glyphicon-eye-open"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
		</table>
	</div>
</div>
{%endif%}
{%if imagenes%}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Imágenes Relacionadas</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<theader>
				<tr>
					<td></td>
					<td><strong>Nombre</strong></td>
					<td><strong>Usuario</strong></td>
					<td><strong>Fecha</strong></td>
				</tr> 
			</theader>  
			{% for i in imagenes %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-picture"></td>
					<td>{{i.name_media}}</td>
					<td>{{i.uploaded_by}}</td>
					<td>{{i.date_media}}</td>
					<td><a href="/verMedia/{{proyecto.id}}/{{i.id}}" class="glyphicon glyphicon-eye-open"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
		</table>
	</div>
</div>
{%endif%}
{%if audios%}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Audios Relacionados</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<theader>
				<tr>
					<td></td>
					<td><strong>Nombre</strong></td>
					<td><strong>Usuario</strong></td>
					<td><strong>Fecha</strong></td>
				</tr> 
			</theader>  
			{% for a in audios %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-volume-up"></td>
					<td>{{a.name_media}}</td>
					<td>{{a.uploaded_by}}</td>
					<td>{{a.date_media}}</td>
					<td><a href="/verMedia/{{proyecto.id}}/{{a.id}}" class="glyphicon glyphicon-eye-open"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
		</table>
	</div>
</div>
{%endif%}
{%if documentos%}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Documentos Relacionados</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<theader>
				<tr>
					<td></td>
					<td><strong>Nombre</strong></td>
					<td><strong>Usuario</strong></td>
					<td><strong>Fecha</strong></td>
				</tr> 
			</theader>  
			{% for d in documentos %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-volume-up"></td>
					<td>{{d.name_media}}</td>
					<td>{{d.uploaded_by}}</td>
					<td>{{d.date_media}}</td>
					<td><a href="/verMedia/{{proyecto.id}}/{{d.id}}" class="glyphicon glyphicon-eye-open"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
		</table>
	</div>
</div>
{%endif%}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Comentarios</strong></h3>
	</div>
	<div class="panel-body">
		<div class="comentarios">
			{% if comentarios%}
			{% for c in comentarios %}
			<div class="contenedor-comentario">
				<img src="/files/serve/{{c.autor_comentary.get_profile.photo_user}}" />	
				<a href="/profile/{{proyecto.id}}/{{c.autor_comentary.id}}"><strong>{{c.autor_comentary.get_username}}</strong></a><br>
				<span class="sub-text">{{c.date_comentary}}</span>
				<div class="comentario">			
					<p >{{c.content_comentary}}</p>
				</div>
			</div>
			{% endfor %}
			{%else%}
			<h2><strong>Aun no hay comentarios</strong></h2>
			{%endif%}
		</div>
		<form id="box-comment" method="POST" action="/comentarRichPicture/{{richPicture.id}}/{{proyecto.id}}/">
			{% csrf_token %}
			{{formComentary|as_bootstrap}}
			<button type="submit" class="btn btn-primary">Comentar</button>
		</form>
	</div>
</div>
{% endblock state-content%}