{% extends 'template_principal.html' %}
{% block title %} SSM: Mensajes {% endblock %}
{%block brand-name%}Mis SSP{%endblock%}
{%block brand-ref%}{% url  'vista_principal'%}{%endblock%}
{%block content%}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default mensajes">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Mensajes no leídos</strong></h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					{%if mensajesNoLeidos%}
					<theader>
						<tr>
							<td></td>
							<td><strong>De:</strong></td>
							<td><strong>Asunto:</strong></td>
							<td><strong>Fecha:</strong></td>
						</tr> 
					</theader>  
					{% for m in mensajesNoLeidos %}
					<tbody>
						<tr>  
							<td class="glyphicon glyphicon-envelope"></td>
							<td>{{m.remitente_mensaje}}</td>
							<td>{{m.asunto_mensaje}}</td>
							<td>{{m.date_mensaje}}</td>
							<td><a href="/verMensaje/{{m.id}}" class="glyphicon glyphicon-eye-open"></a></td>
							<td><a onclick="return confirm('¿Deseas eliminar este mensaje?')" href="/eliminarMensaje/{{m.id}}" class="glyphicon glyphicon-remove"></a></td>
						</tr>
					</tbody>
					{% endfor %}                 
					{%else%}
					<p><strong>¡Muy bien! Has leído todos tus mensajes recibidos.</strong></p>
					{%endif%}
				</table>
				{%if mensajesNoLeidos%}
				<ul class="pagination">
					{%if mensajesNoLeidos.has_previous%}
					<li><a href="/mensajes/{{mensajesNoLeidos.previous_page_number}}">&laquo;</a></li>
					{%endif%}
					{%if mensajesNoLeidos.has_next%}
					<li><a href="/mensajes/{{mensajesNoLeidos.next_page_number}}">&raquo;</a></li>
					{%endif%}
				</ul>
				{%endif%}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Mensajes leídos</strong></h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					{%if mensajesLeidos%}
					<theader>
						<tr>
							<td></td>
							<td><strong>De:</strong></td>
							<td><strong>Asunto:</strong></td>
							<td><strong>Fecha:</strong></td>
						</tr> 
					</theader>  
					{% for m in mensajesLeidos %}
					<tbody>
						<tr>  
							<td class="glyphicon glyphicon-envelope"></td>
							<td>{{m.remitente_mensaje}}</td>
							<td>{{m.asunto_mensaje}}</td>
							<td>{{m.date_mensaje}}</td>
							<td><a href="/verMensaje/{{m.id}}" class="glyphicon glyphicon-eye-open"></a></td>
							<td><a onclick="return confirm('¿Deseas eliminar este mensaje?')" href="/eliminarMensaje/{{m.id}}" class="glyphicon glyphicon-remove"></a></td>
						</tr>
					</tbody>
					{% endfor %}                 
					{%else%}
					<p><strong>Aún no hay mensajes leídos</strong></p>
					{%endif%}
				</table>
				{%if mensajesLeidos%}
				<ul class="pagination">
					{%if mensajesLeidos.has_previous%}
					<li><a href="/mensajes/{{mensajesLeidos.previous_page_number}}">&laquo;</a></li>
					{%endif%}
					{%if mensajesLeidos.has_next%}
					<li><a href="/mensajes/{{mensajesLeidos.next_page_number}}">&raquo;</a></li>
					{%endif%}
				</ul>
				{%endif%}
			</div>
		</div>
	</div>
</div>
{%endblock%}