{%extends 'template_proyecto.html'%}
{% load bootstrap_tags %}
{% block title %}SSM: {{proyecto.name_ssp}}{% endblock title %}
{% block brand-name %}<a href="/project/{{proyecto.id}}"><strong>{{proyecto.name_ssp}}</strong></a>{% endblock brand-name %}
{% block content %}
<div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
                <div class="container-img-newssp text-center">
                        <img src="/media/img/logos/LogoFinal.png">
                </div>
                {%if status%}
                {%if status == "1" %}
                <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Colaborador Ingresado</strong> 
                </div>
                {%endif%}
                {%if status == "0" %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>El Usuario no Existe</strong> 
                </div>
                {%endif%}
                {%if status == "2" %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>El Usuario ya pertenece a {{proyecto.name_ssp}}</strong> 
                </div>
                {%endif%}
                {%endif%}
                {%if proyecto.manager.get_username == user.get_username%}
                <form action="." method="POST">
                        {% csrf_token %}

                        <p><select name="e14" id="e14" style="width: 300px;">
                                {% for u in usuariosSSM %}
                                <option value="{{u.get_username}}">{{u.get_username}}</option>
                                {% endfor %}
                        </select></p>
                        <button style="width: 300px;" type="submit" name="create_ssp" class="btn btn-primary"><strong>Agregar Colaborador</strong></button>
                        
                </form> 
                {%endif%}
        </div>
</div>
<div class="row userThum">

        {%if usuarios%}
        <h2>Colaboradores en {{proyecto.name_ssp}}</h2>
        {%endif%}
        {% for u in  usuarios %}
        
        <div class="col-md-3">
                <div class="thumbnail">
                        <a href="/profile/{{proyecto.id}}/{{u.id}}"><img src="/files/serve/{{u.get_profile.photo_user}}"></a>
                        <div class="caption">
                                <h3>{{u.get_username}}</h3>
                                <p><strong>Nombre: </strong><br>{{u.first_name}} {{u.last_name}}</p>
                                <p><strong>E-mail: </strong><br>{{u.email}}</p>
                                <p><strong>Sitio: </strong><br>
                                        {%if u.get_profile.url_user%}
                                        <a href="{{u.get_profile.url_user}}" target="_blank">Sitio de {{u.get_username}}</a>
                                        {%else%}
                                        No posee sitio
                                        {%endif%}
                                </p>
                                {% if user.id == proyecto.manager.id %}
                                <a onclick="return confirm('¿Deseas desvincular a {{u.get_username}}?')" href="/delContrib/{{proyecto.id}}/{{u.id}}"><div class="btn btn-primary sing-up">Desvincular Colaborador</div></a>
                                {% endif %}
                        </div>
                </div>
        </div>
        {% endfor %}
</div>

{% endblock %}


