{%extends 'template_proyecto.html'%}
{%load bootstrap_tags%}
{% block title %}SSM: {{proyecto.name_ssp}}{% endblock title %}
{% block brand-name %}{{proyecto.name_ssp}}{% endblock brand-name %}
{% block content %}
<div class="container text-center">
  <h3><strong>PERCEPCIÓN DE LA SITUACIÓN-PROBLEMA DE MANERA NO ESTRUCTURADA</strong></h3>
</div>
<br>

<div class="menu-vertical">

	<div class="row">
		<!--Menu Cuenta Usuario -->
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addFile"><strong> Agregar archivo </strong></button>
      <div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Agregar Archivo</h4>
            </div>
            <div class="modal-body">
              <form method="POST" action="/agregar/{{proyecto.id}}/">
                {% csrf_token %}
                {{form|as_bootstrap}} 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Agregar </button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="sidebar-nav">
       <div class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/project/{{proyecto.id}}" class="glyphicon glyphicon-time"> Recientes</a></li>
            <li><a href="/medias/1/{{proyecto.id}}/1" class="glyphicon glyphicon-facetime-video"> Videos</a></li>
            <li><a href="/medias/2/{{proyecto.id}}/1" class="glyphicon glyphicon-picture"> Imágenes</a></li>
            <li><a href="/medias/3/{{proyecto.id}}/1" class="glyphicon glyphicon-volume-up"> Audios</a></li>
            <li><a href="/medias/4/{{proyecto.id}}/1" class="glyphicon glyphicon-file"> Documentos</a></li>
            <li><a href="/analisis/{{proyecto.id}}/1" class="glyphicon glyphicon-book"> Análisis</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--Fin Menu Cuenta Usuario -->

  <!-- Contenedor de Informacion -->
  <div class="col-sm-7" >
    {%block state-content%}
    <div class="panel panel-default">
     <div class="panel-heading">
      <h3 class="panel-title"><strong>Videos Recientes</strong></h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        {%if videos%}
        <theader>
          <tr>
            <td></td>
            <td><strong>Nombre</strong></td>
            <td><strong>Usuario</strong></td>
            <td><strong>Fecha</strong></td>
          </tr> 
        </theader>  
        {% for v in videos %}
        <tbody>
          <tr>  
            <td class="glyphicon glyphicon-facetime-video"></td>
            <td>{{v.name_media}}</td>
            <td>{{v.uploaded_by}}</td>
            <td>{{v.date_media}}</td>
            <td><a href="/verMedia/{{proyecto.id}}/{{v.id}}" class="glyphicon glyphicon-eye-open"></a></td>
          </tr>
        </tbody>
        {% endfor %}                 
        {%else%}
        <p><strong>No existen videos</strong></p>
        {%endif%}
      </table>
    </div>
  </div>
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><strong>Imágenes Recientes</strong></h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      {%if imagenes%}
      <theader>
        <tr>
          <td></td>
          <td><strong>Nombre</strong></td>
          <td><strong>Usuario</strong></td>
          <td><strong>Fecha</strong></td>
        </tr> 
      </theader>  
      {% for i in imagenes %}
      <tbody>
        <tr>  
          <td class="glyphicon glyphicon-picture"></td>
          <td>{{i.name_media}}</td>
          <td>{{i.uploaded_by}}</td>
          <td>{{i.date_media}}</td>
          <td><a href="/verMedia/{{proyecto.id}}/{{i.id}}" class="glyphicon glyphicon-eye-open"></a></td>
        </tr>
      </tbody>
      {% endfor %}                 
      {%else%}
      <p><strong>No existen imagenes</strong></p>
      {%endif%}
    </table>
  </div>
</div>
<div class="panel panel-default">
 <div class="panel-heading">
  <h3 class="panel-title"><strong>Audios Recientes</strong></h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
    {%if audios%}
    <theader>
      <tr>
        <td></td>
        <td><strong>Nombre</strong></td>
        <td><strong>Usuario</strong></td>
        <td><strong>Fecha</strong></td>
      </tr> 
    </theader>  
    {% for a in audios %}
    <tbody>
      <tr>  
        <td class="glyphicon glyphicon-volume-up"></td>
        <td>{{a.name_media}}</td>
        <td>{{a.uploaded_by}}</td>
        <td>{{a.date_media}}</td>
        <td><a href="/verMedia/{{proyecto.id}}/{{a.id}}" class="glyphicon glyphicon-eye-open"></a></td>
      </tr>
    </tbody>
    {% endfor %}                 
    {%else%}
    <p><strong>No existen audios</strong></p>
    {%endif%}
  </table>
</div>
</div>
<div class="panel panel-default">
 <div class="panel-heading">
  <h3 class="panel-title"><strong>Documentos Recientes</strong></h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
    {%if documentos%}
    <theader>
      <tr>
        <td></td>
        <td><strong>Nombre</strong></td>
        <td><strong>Usuario</strong></td>
        <td><strong>Fecha</strong></td>
      </tr> 
    </theader>  
    {% for d in documentos %}
    <tbody>
      <tr>  
        <td class="glyphicon glyphicon-file"></td>
        <td>{{d.name_media}}</td>
        <td>{{d.uploaded_by}}</td>
        <td>{{d.date_media}}</td>
        <td><a href="/verMedia/{{proyecto.id}}/{{d.id}}" class="glyphicon glyphicon-eye-open"></a></td>
      </tr>
    </tbody>
    {% endfor %}                 
    {%else%}
    <p><strong>No existen documentos</strong></p>
    {%endif%}
  </table>
</div>
</div>
<div class="panel panel-default">
 <div class="panel-heading">
  <h3 class="panel-title"><strong>Análisis Recientes</strong></h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
    {%if analisis%}
    <theader>
      <tr>
        <td></td>
        <td><strong>Nombre</strong></td>
        <td><strong>Usuario</strong></td>
        <td><strong>Fecha</strong></td>
      </tr> 
    </theader>  
    {% for a in analisis %}
    <tbody>
      <tr>  
        <td class="glyphicon glyphicon-book"></td>
        <td>{{a.name_analisis}}</td>
        <td>{{a.created_by}}</td>
        <td>{{a.date_analisis}}</td>
        <td><a href="#" class="glyphicon glyphicon-eye-open"></a></td>
      </tr>
    </tbody>
    {% endfor %}                 
    {%else%}
    <p><strong>No existen analisis</strong></p>
    {%endif%}
  </table>
</div>
</div>
{%endblock state-content%}
</div><!-- Fin Contenedor de Informacion -->
</div> 
</div>
{% endblock content %}