{%extends 'template_proyecto.html'%}
{% load bootstrap_tags %}
{% block title %}SSM: {{usuario.get_username}}{% endblock title %}
{% block brand-name %}{{proyecto.name_ssp}}{% endblock brand-name %}
{% block content %}
	<div class="row userThum ">
		<div class="col-md-4 col-md-offset-4 navbar navbar-default">
			{% if usuario.get_profile.photo_url %}
            <img src="{{usuario.get_profile.photo_url}}">
            {% else %}
            <img src="/files/serve/{{usuario.get_profile.photo_user}}">
            {% endif %}
			<h2>{{usuario.get_username}}</h2>
			<p><strong>Nombre:</strong> <br>{{usuario.first_name}} {{usuario.last_name}}</p>
			<p><strong>Correo Electrónico:</strong> <br>{{usuario.get_profile.email_public_user}}</p>
			<p><strong>Sitio:</strong> <br>{%if usuario.get_profile.url_user%}
						<a href="{{usuario.get_profile.url_user}}">Sitio de {{usuario.get_username}}</a>
					  {%else%}
					  No posee Sitio
					  {%endif%}
			</p>
			<p><strong>Empresa:</strong> <br>{%if usuario.get_profile.company_user%}
						{{usuario.get_profile.company_user}}
					  {%else%}
					  No participa en una empresa
					  {%endif%}

			</p>
			<p><strong>Ubicación:</strong> <br>{%if usuario.get_profile.position_user%}
						{{usuario.get_profile.position_user}}
					  {%else%}
					  No existe ubicación
					  {%endif%}

			</p>
		</div>

	</div>
{% endblock %}