<header-left route="app.projects-stateone({ id: '{{project.id}}' })"></header-left>

<div class="container">

	<div class="view-title text-center"><i class="fa fa-file"></i> Detalle archivo</div>

	<div class="panel panel-default panel-media">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 text-center" ng-if="media.type_media == '3'">
					<i class="fa fa-microphone panel-icon"></i><br>
					Audio
				</div>
				<div class="col-xs-9 small">
					<h4>{{media.name_media}}</h4>
					<p>{{media.description_media}}</p>
					<p class="small"><i class="fa fa-user"></i> {{media.uploaded_by}}</p>
				</div>
			</div>	
		</div>
		<div class="panel-footer small">
			<span>{{media.date_media | amCalendar}}</span>
		</div>
	</div>

	<div class="view-title text-center">
		<i class="fa fa-comments"></i> Comentarios ({{media.comments_media.length || "0"}})
		<div ng-if="comments.length == 0 && !done" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title small">Agregar comentario</div>
					<div class="panel-toolbar">
						<button class="btn btn-link" panel-toggle><i class="fa fa-chevron-down"></i></button>
					</div>
				</div>
				<div class="panel-body" style="display: none">
					<div class="form-group">
						<textarea ng-model="comentary.content_comentary" rows="3" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary btn-lg wide" ng-click="addComment()">Enviar</button>
				</div>
			</div>
			<div>
				
			<hr>
			</div>
			<div class="comment small" ng-repeat="comment in comments">
				<label for="">{{comment.user.username}} - {{comment.date_comentary | amCalendar}}</label>
				<p>{{comment.content_comentary}}</p>
				<br>
			</div>
		</div>
	</div>

</div>
