<header-left route="app.project.show({ project_id: '{{project.id}}' })"></header-left>

<div class="container">
	
	<div class="view-title text-center"><i class="fa fa-folder-open"></i> Estadio 1</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				{{project.name_ssp}}
			</div>
		</div>
		<div class="panel-body">
			<div class="btn-group-vertical wide visible-xs" role="group">
				<a class="btn btn-default" ng-click="takeMedia('takeVideo')"><i class="fa fa-video-camera"></i> Capturar video</a>
				<a class="btn btn-default" ng-click="takeMedia('takePhoto')"><i class="fa fa-camera"></i> Tomar una foto</a>
				<a class="btn btn-default" ng-click="takeMedia('takeAudio')"><i class="fa fa-microphone"></i> Grabar audio</a>
			</div>
			<hr class="visible-xs">
			<div class="btn-group-vertical wide visible-xs">
				<a class="btn btn-default" ui-sref="app.project.stateone.analisys()"><i class="fa fa-lightbulb-o"></i> Analisis<i class="fa fa-chevron-right"></i></a>
				<a class="btn btn-default" ui-sref="app.project.stateone.tags()"><i class="fa fa-tags"></i> Etiquetas<i class="fa fa-chevron-right"></i></a>
			</div>

			<div class="btn-group btn-group-justified visible-md visible-lg visible-sm" role="group">
				<a class="btn btn-default" ng-click="takeMedia('takeVideo')"><i class="fa fa-video-camera"></i><br> Capturar video</a>
				<a class="btn btn-default" ng-click="takeMedia('takePhoto')"><i class="fa fa-camera"></i><br> Tomar una foto</a>
				<a class="btn btn-default" ng-click="takeMedia('takeAudio')"><i class="fa fa-microphone"></i><br> Grabar audio</a>
				<a class="btn btn-default" ui-sref="app.project.stateone.analisys()"><i class="fa fa-lightbulb-o"></i><br> Analisis</a>
				<a class="btn btn-default" ui-sref="app.project.stateone.tags()"><i class="fa fa-tags"></i><br> Etiquetas</a>
			</div>
		</div>
	</div>
	
	<div class="view-title text-center">
		<i class="fa fa-file"></i> Archivos
		<div ng-if="state.medias.length == 0" class="small">No hay archivos en este proyecto</div>
	</div>
	<div ng-repeat="media in state.medias | orderBy:'-date_media'">
		
		<div id="panel-media-{{media.id}}" class="panel panel-default panel-media">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3 text-center">
						<i class="fa fa-video-camera panel-icon" ng-if="media.type_media == '1'"></i>
						<i class="fa fa-picture-o panel-icon" ng-if="media.type_media == '2'"></i>
						<i class="fa fa-microphone panel-icon" ng-if="media.type_media == '3'"></i>
						<br>
						<span class="small" ng-if="media.type_media == '1'">Video</span>
						<span class="small" ng-if="media.type_media == '2'">Foto</span>
						<span class="small" ng-if="media.type_media == '3'">Audio</span>
					</div>
					<div class="col-xs-9 small">
						<h4>{{media.name_media}}</h4>
						<p>{{media.description_media}}</p>
						<p class="small"><i class="fa fa-user"></i> {{media.uploaded_by}}</p>
					</div>
				</div>	
				<video-player source="{{media.local_uri}}" ng-if="media.type_media == '1'"></video-player>
				<img src="{{media.local_uri}}" class="wide" ng-if="media.type_media == '2'" />
			</div>
			<div class="panel-footer small">
				<span class="small">{{media.date_media | amCalendar}}</span>
				<div class="panel-toolbar small">
					<a ui-sref="app.project.stateone.media({ media_id: '{{media.id}}' })">Ver detalle <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			<div class="panel-sheet" ng-if="media.__syncPending">
				<div class="panel-sheet-message">
					Este elemento aun no se encuentra sincronizado 
					<br>
					¿Quieres sincronizarlo?
					<br>
					<br>
					<i class="fa fa-refresh panel-sheet-icon" ng-click="syncItem(media)"></i>
				</div>
			</div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Agregar contenido</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="">Título</label>
						<input ng-model="newmedia.name_media" type="text" class="form-control" placeholder="Algún título">
					</div>
					<div class="form-group">
						<label for="">Descripción</label>
						<textarea ng-model="newmedia.description_media" type="text" class="form-control" rows="3" placeholder="¿De que se trata esto?"></textarea>
					</div>
					<button type="button" class="btn btn-primary btn-lg wide" ng-click="uploadMedia()"><i class="fa fa-plus"></i> Agregar contenido</button>
				</div>
			</div>
		</div>
	</div>

</div>