<header-left route="app.project.stateone.analisys()"></header-left>

<div class="container">
	
	<div class="view-title text-center"><i class="fa fa-lightbulb-o"></i> Detalle analisis</div>

	<div class="panel panel-default panel-media">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 text-center">
					<i class="fa fa-lightbulb-o panel-icon"></i>
					<br>
					<span class="small">Analisis</span>
				</div>
				<div class="col-xs-9 small">
					<h4>{{anal.name_analisis}}</h4>
					<p class="small"><i class="fa fa-user"></i> {{anal.created_by}}</p>
				</div>
			</div>
			<br>
			<button class="btn btn-default wide" ng-repeat="doc in anal.documents" ng-click="open(doc)"><i class="fa fa-google"></i> Abrir documento {{doc.name_documento}}</button>
			<br>
			<br>
			<p class="small">{{anal.description_analisis}}</p>
			<div class="tag-group">
				<span class="label label-default float-left" ng-repeat="tag in anal.tags" ng-click="rmTag(tag)"><i class="fa fa-tag"></i> {{tag.name_tag}}</span>
			</div>
		</div>
		<div class="panel-footer small">
			<span class="small">{{anal.date_analisis | amCalendar}}</span>
			<div class="panel-toolbar">
				<a  data-toggle="modal" data-target="#addTag"><i class="fa fa-tags" ng-click=""></i> Etiquetar</a>
				<a data-toggle="modal" data-target="#editAnalisys" ng-click="editAnal()"><i class="fa fa-pencil"></i> Editar</a>
			</div>
		</div>
	</div>

	<div class="view-title text-center">
		<i class="fa fa-comments"></i> Comentarios ({{anal.comments.length || "0"}})
		<div ng-if="!anal.id" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>

	<button type="button" class="btn btn-success wide" data-toggle="modal" data-target="#commentModal"><i class="fa fa-plus"></i> Comentar</button>
	<br>
	<br>

	<div ng-if="anal.comments.length != 0">
		<div class="panel panel-default" ng-repeat="comment in anal.comments | orderBy:'-date_comentary'">
			<div class="panel-body">
				<div class="comment small">
					<label for="">{{comment.user.username}}</label>
					<div class="small">{{comment.date_comentary | amCalendar}}</div>
					<br>
					<p>{{comment.content_comentary}}</p>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Modal comment -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Nuevo comentario</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Comentario</label>
					<textarea ng-model="comentary.content_comentary" rows="3" class="form-control"></textarea>
				</div>
				<button type="button" class="btn btn-primary btn-lg wide" data-dismiss="modal" ng-click="addComment()">Agregar comentario</button>
			</div> 
		</div>
	</div>
</div>

<!-- Modal analisys-->
<div class="modal fade" id="editAnalisys" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Editar analisys</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Nombre</label>
					<input type="text" ng-model="edited.name_analisis" class="form-control"></input>
				</div>
				<div class="form-group">
					<label for="">Resumen</label>
					<textarea type="text" ng-model="edited.description_analisis" rows="6" class="form-control"></textarea>
				</div>
				<button type="button" class="btn btn-primary btn-lg wide" data-dismiss="modal" ng-click="updateAnal()">Editar analisis</button>
			</div> 
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Etiquetar análisis</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Etiquetas disponibles</label>
					<div class="select">
						<div class="select-item" ng-repeat="tag in state.tags" ng-click="addTag(tag, $event)"><i class="fa fa-tag"></i> {{tag.name_tag}}</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>