{%extends 'estado_uno/estado_uno_general.html'%}
{%load bootstrap_tags%}
{% block state-content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Desarrollo de {{analisis.name_analisis}}</strong></h3>
	</div>
	<div class="panel-body">

		<div class="media text-justify">
			<p>En esta sección será llevado a cabo el analisis final del estado uno de la metodología de sistemas blandos, es decir, de la <strong>PERCEPCIÓN DE LA SITUACIÓN CONSIDERADA PROBLEMÁTICA</strong></p><br>
			<p>Procure crear los archivos necesarios para llevar a cabo este análisis, considerando la información aportada por el equipo de investigación (videos, imagenes, audios y otros documentos), de igual forma debe adjuntar todo documento realizado en la sección siguiente, nombrando el archivo y colocando el vínculo o link para compartir de Google Drive, también es recomendable etiquetar este análisis para dar a conocer la información que influyó en el estudio.</p><br>
			<p>Finalmente complete este análisis con un resumen, a modo de orientar al equipo sobre el contenido que ha sido creado.</p><br>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4" >
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDocumento"><strong> Crear Documento </strong></button>
				<div class="modal fade" id="addDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">Crear Documento</h4>
							</div>
							<div class="modal-body">
								<form method="POST" action="/newDocumento/{{proyecto.id}}/{{analisis.id}}/">
									{% csrf_token %}
									{{formDocumento|as_bootstrap}} 
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary"> Crear </button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>	
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Documentos de {{analisis.name_analisis}}</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			{%if documentosAnalisis%}
			<theader>
				<tr>
					<td></td>
					<td><strong>Nombre</strong></td>
					<td><strong>Usuario</strong></td>
					<td><strong>Fecha</strong></td>
				</tr> 
			</theader>  
			{% for d in documentosAnalisis %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-file"></td>
					<td>{{d.name_documento}}</td>
					<td>{{d.shared_documento}}</td>
					<td>{{d.date_documento}}</td>
					<td><a href="JavaScript:newPopup('{{d.url_documento}}');" class="glyphicon glyphicon-eye-open"></a></td>
					<td><a onclick="return confirm('¿Deseas eliminar {{d.name_documento}}?')" href="/eliminarDocumento/{{proyecto.id}}/{{analisis.id}}/{{d.id}}" class="glyphicon glyphicon-remove"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
			{%else%}
			<p><strong>No existen Documentos</strong></p>
			{%endif%}
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Etiquetas</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			{%if etiquetasAnalisis%}  
			{% for e in etiquetasAnalisis %}
			<tbody>
				<tr>  
					<td class="glyphicon glyphicon-tag"></td>
					<td >{{e.name_tag}}</td>
					<td ><button data-toggle="modal" data-target="#{{e.id}}" class="btn btn-default glyphicon glyphicon-eye-open">  </button></td>
					<div class="modal fade" id="{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel">{{e.name_tag}}</h4>
								</div>
								<div class="modal-body">
									<p>{{e.description_tag}}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
								</div>
							</div>
						</div>
					</div>
					<td><a onclick="return confirm('¿Deseas eliminar esta etiqueta de {{analisis.name_analisis}}?')" href="/eliminarEtiquetaAnalisis/{{proyecto.id}}/{{analisis.id}}/{{e.id}}/" class="glyphicon glyphicon-remove"></a></td>
				</tr>
			</tbody>
			{% endfor %}                 
			{%else%}
			<p><strong>El analisis no posee etiquetas</strong></p>
			{%endif%}
		</table>
		<form method="POST" action="/etiquetarAnalisis/{{analisis.id}}/">
			{%csrf_token%}
			<div class="span4">
				<p>
					<select multiple="" name="e9" id="e92" style="width:300px" class="populate select2-offscreen" tabindex="-1">
						{%if etiquetas%}
						{% for e in etiquetas %}
						<option value="{{e.id}}">{{e.name_tag}}</option>
						{% endfor %}            
						{%else%}
						<option value=""></option>
						{%endif%}
					</select>
					<button type="submit" name="etiquetarTag" class="btn btn-primary"> <strong>Etiquetar</strong></button>
					
				</p>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Resumen de {{analisis.name_analisis}}</strong></h3>
	</div>
	<div class="panel-body">

		<div class="media text-justify">
			<p>Considere que un resumen es una representación abreviada, objetiva y precisa del contenido del análisis, sin interpretación crítica y sin mención expresa del autor del resumen.</p><br>
		</div>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResumen"><strong> Crear Resumen </strong></button>
		<div class="modal fade" id="addResumen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Resumen de {{analisis.name_analisis}}</h4>
					</div>
					<div class="modal-body">
						<form method="POST" action="/resumenAnalisis/{{analisis.id}}/">
							{% csrf_token %}
							{{resumenForm|as_bootstrap}} 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary"> Crear </button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>	
</div>
</div>
{% endblock state-content%}

