<header-left remove></header-left>

<div class="container">
	
	<div class="view-title text-center">
		<i class="fa fa-user"></i> Mi perfil
		<div ng-if="user.email == undefined" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i></div>
	</div>
	<div class="panel panel-default" ng-if="user.email != undefined">
		<div class="panel-heading">
			<div class="panel-title">Información de perfil</div>
			<div class="panel-toolbar">
				<button class="btn btn-default" ui-sref="app.profile.edit"><i class="fa fa-pencil"></i></button>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel-detail">
				<label for="">Foto de perfil:</label>
				<img src="{{user.profile.photo_local || user.profile.photo_url || user.profile.photo_user}}" alt="" class="wide">
				<br>
				<br>
				<label for="">Nombre:</label>
				<div>{{user.first_name}}</div>

				<label for="">Apellido:</label>
				<div>{{user.last_name}}</div>

				<label for="">Correo electrónico:</label>
				<div>{{user.email}}</div>

				<label for="">Organización:</label>
				<div>{{user.profile.company_user || "Ninguna"}}</div>

				<label for="">Cargo:</label>
				<div>{{user.profile.position_user || "Ninguno"}}</div>
			</div>
		</div>
	</div>

</div>