<div id="wrapper">
	
	<!-- header -->
	<div id="header">
		<div class="btn-group btn-group-justified" role="group">
			<div class="left btn no-shadow"></div>
			<div class="center btn no-shadow">
				<img class="wide" src="./img/logo-ssm_land-white.png" alt="">
			</div>
			<div class="right btn">
				<i class="fa fa-bars"></i>
			</div>
		</div>
		<div class="dropdown">
			<div class="btn-group-vertical wide" role="group">
			  <!-- <a href="" class="btn btn-default modo" ng-click="internet()"><i class="fa fa-globe"></i> Modo offline</a> -->
			  <a href="" class="btn btn-default" ng-click="logout()"> <i class="fa fa-sign-out"></i> Cerrar sesión</a>
			</div>
		</div>
		<div id="notice-bar"></div>
	</div>
	<div id="header-ghost"></div>

	<div class="container">
		<div ng-repeat="msg in flash_messages">
			<div class="alert alert-danger" ng-if="msg.alert != undefined">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{msg.alert}}
			</div>
			<div class="alert alert-success" ng-if="msg.notice != undefined">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{msg.notice}}
			</div>
		</div>
	</div>

	<div ui-view></div>

	<!-- footer-partial -->
	<footer-partial></footer-partial>
	<div id="footer-ghost"></div>
</div>