<div id="wrapper">
	
	<div id="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="./img/logo-ssm_land-white.png" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a ui-sref="app.profile" href="#">Perfil</a></li>
							<li><a ui-sref="app.group" href="#">Grupos</a></li>
							<li class="divider"></li>
							<li><a ui-sref="login.index" ng-click="logout()" href="">Cerrar sesión</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</div>
		</nav>
	</div>

	<div id="header-ghost"></div>

	<div class="container">
		<div ng-repeat="msg in flash_messages">
			<div class="alert alert-danger" ng-if="msg.alert != undefined">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{msg.alert}}
			</div>
			<div class="alert alert-success" ng-if="msg.notice != undefined">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{msg.notice}}
			</div>
		</div>
	</div>

	<div ui-view="mainView"></div>
</div>